.border search{
width:400px;
border-radius: 10px;
text-align: center;
}
h1{
    color: black;
}
header{
    background-image: url(Assets/Images/group-1.jpg);
    padding: 15%;
    background-size: 1100px;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.bt{
    padding: 10px;
    /* padding-left: 50px; */
    padding-right: 50px;
    background-color: white;
    width: 10%;
    text-align: center;
}
.ronde{
    border-radius: 50%;
    font-size: 20%;
    height: 60%;
    
}
